# Static-linked networking binaries and setup for linuxbox

########  busybox  ######## 
# get non-glibc busybox binary
wget -c https://busybox.net/downloads/binaries/1.35.0-x86_64-linux-musl/busybox
chmod +x busybox
cp busybox .../_install/bin/busybox

########  wpa_supplicant  ######## 
# .config
CONFIG_DRIVER_WEXT=y
CONFIG_DRIVER_WIRED=y
CONFIG_EAP_TLS=y
CONFIG_TLS=internal
CONFIG_INTERNAL_LIBTOMMATH=y
CONFIG_INTERNAL_LIBTOMMATH_FAST=y
CONFIG_AP=y
CONFIG_IBSS_RSN=y
CONFIG_BGSCAN_SIMPLE=y

make LDFLAGS=-static
strip wpa_supplicant
cp wpa_supplicant .../_install/usr/sbin/

########  musl  ######## 
./configure --disable-shared LDFLAGS=-static
make install


########  openssl  ######## 
CC=/usr/local/musl/bin/musl-gcc ./Configure -static no-shared -idirafter /usr/include/
make install


########  links  ######## 
CC=/usr/local/musl/bin/musl-gcc ./configure --with-ssl --prefix=/usr/local
make
strip links
cp links .../_install/usr/bin/


########  linuxbox commands for networking  ######## 
# _install/etc/commands
mkdir /mnt
mount /dev/nvme0n1p2 /mnt/    # mount rootfs
ln -s /mnt/lib .
modprobe iwlwifi              # rtw88_8822be ath9k ...
wpa_supplicant -B -c /etc/wpa_supplicant.conf -i wlan0
udhcpc -i wlan0 -n
ip addr add 192.168.1.xxx/24 dev wlan0
ip route add default via 192.168.1.1 dev wlan0

# _install/etc/resolv.conf
nameserver 1.1.1.1

# _install/etc/wpa_supplicant.conf
network={
	ssid=""
	psk=""
}
